@font-face {
  font-family: 'futuraLight';
  src: url("/Futura-Light.ttf");
  /*src : url("/FuturaStdLight.eot") format('embedded-opentype'),
  url("/FuturaStdLight.svg") format('svg');*/ }
@font-face {
  font-family: "futurastd";
  src: url("/FuturaStdLight.eot");
  src: url("//FuturaStdLight.svg#bingo") format("svg");
  src: url("/FuturaStdLight.otf") format("opentype"); }
body {
  margin: 0%;
  width: 100%;
  height: 100%; }
  body .title-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 1; }
    body .title-screen span {
      display: table-cell;
      vertical-align: middle;
      font-family: 'futurastd';
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      outline: none;
      font-size: 25px; }
    body .title-screen .touch {
      height: calc(52% - 47px);
      float: left;
      position: relative;
      width: 100%;
      z-index: -2;
      text-align: center;
      display: table;
      color: #666666;
      pointer-events: auto; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .title-screen .touch {
          height: calc(100% - 72px); } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .title-screen .touch {
          height: calc(100% - 72px); } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .title-screen .touch {
          height: calc(100% - 72px); } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .title-screen .touch {
          height: calc(100% - 72px); } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
        body .title-screen .touch {
          height: calc(100% - 72px); } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .title-screen .touch {
          height: calc(100% - 508px - 72px); } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
        body .title-screen .touch {
          height: calc(100% - 197px - 72px); } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .title-screen .touch {
          /*Iphone 5*/
          height: calc(100% - 239px - 72px); } }
      body .title-screen .touch .instruction {
        display: table-cell;
        /* vertical-align: middle; */
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        font-family: 'futurastd';
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        outline: none;
        width: 250px;
        height: 60px;
        color: #666666;
        text-align: center;
        background-color: transparent;
        border: none;
        font-size: 18px;
        word-break: break-word; }
    body .title-screen .lob {
      height: 48%;
      width: 100%;
      background-size: 449px 338px;
      background-repeat: no-repeat;
      background-position: center center;
      float: left;
      opacity: 0.4; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .title-screen .lob {
          display: none; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .title-screen .lob {
          display: none; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .title-screen .lob {
          display: none; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .title-screen .lob {
          display: none; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
        body .title-screen .lob {
          display: none; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .title-screen .lob {
          background-size: 768px 508px;
          height: 508px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
        body .title-screen .lob {
          background-size: 291px 197px;
          height: 197px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .title-screen .lob {
          /*Iphone 5*/
          background-size: 353px 239px;
          height: 239px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .title-screen .lob {
          background-size: 375px 253px; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body .title-screen .lob {
          background-size: 414px 280px; } }
    body .title-screen .lob.market {
      background-image: url("/votehr.png"); }
    body .title-screen .lob.brainstorm {
      background-image: url("/brainstormhr.png"); }
    body .title-screen .lob.story {
      background-image: url("/maquetteHR.png"); }
    body .title-screen .lob.tableau {
      background-image: url("/TableauHR.png"); }
    body .title-screen .lob.lobby {
      background-image: url("/lobby.png"); }
    body .title-screen .arrow-bloc {
      float: left;
      width: 100%;
      height: 72px;
      position: relative;
      background-color: #ffffff;
      border-top: 1px solid #f17f36;
      border-bottom: 1px solid #f17f36;
      box-sizing: border-box; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .title-screen .arrow-bloc {
          border-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .title-screen .arrow-bloc {
          border-top: 0; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .title-screen .arrow-bloc {
          border-top: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .title-screen .arrow-bloc {
          border-top: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
        body .title-screen .arrow-bloc {
          border-top: 0; } }
      body .title-screen .arrow-bloc .rect {
        color: #f17f36;
        border: #f17f36;
        text-align: center;
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        line-height: 72px; }
        body .title-screen .arrow-bloc .rect div {
          font-family: 'futurastd';
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          font-size: 25px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
          min-width: 50px;
          min-height: 50px; }
      body .title-screen .arrow-bloc .circle {
        width: 50px;
        height: 27px;
        border-bottom: 2px solid #ffffff;
        top: -25px;
        background-image: url("/hCircle.png");
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        font-family: 'futurastd';
        background-repeat: no-repeat;
        /* background-position-y: -8px; */
        background-size: 100%;
        position: absolute;
        left: 0;
        right: 0;
        box-sizing: border-box; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .circle {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .circle {
            display: none; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .circle {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .circle {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .circle {
            display: none; } }
      body .title-screen .arrow-bloc .white-circle {
        width: 45px;
        height: 45px;
        background-size: 100%;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        top: -23px;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-image: url("/down.png"); }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .white-circle {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .white-circle {
            display: none; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .white-circle {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .white-circle {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .white-circle {
            display: none; } }
      body .title-screen .arrow-bloc .down {
        width: 27px;
        height: 27px;
        border-bottom: 2px solid #ffffff;
        top: -20px;
        background-image: url("/down.png");
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        background-color: transparent;
        left: 0;
        right: 0; }
      body .title-screen .arrow-bloc .triangle {
        background-image: url("/triangle.png");
        margin-left: auto;
        margin-right: auto;
        width: 48px;
        height: 25px;
        /* z-index: -1; */
        position: absolute;
        border-top: 2px solid #ffffff;
        top: 68px;
        left: 0;
        right: 0; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .triangle {
            top: 69px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .triangle {
            top: 69px; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .triangle {
            top: 69px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .triangle {
            top: 69px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
          body .title-screen .arrow-bloc .triangle {
            top: 69px; } }
  body .title-screen.lobby .left {
    height: 100%;
    background-size: contain;
    width: 33%;
    position: absolute;
    left: 0;
    background-image: url("left.png");
    background-repeat: no-repeat; }
  body .title-screen.lobby .right {
    height: 100%;
    background-size: contain;
    width: 20%;
    position: absolute;
    right: 0;
    background-image: url("right.png");
    background-repeat: no-repeat; }
  body .title-screen.lobby .middle {
    height: 100%;
    background-size: contain;
    width: 33%;
    position: absolute;
    right: 33%;
    background-image: url("middle.png");
    background-repeat: no-repeat; }
  body .title-screen.lobby .white-circle {
    background-image: url("logolob.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }

/*# sourceMappingURL=gates.css.map */
