@font-face {
  font-family : 'futuraMedium';
  src : url('/FuturaStdMedium.ttf');
  src : url("/FuturaStdMedium.eot") format('embedded-opentype');
  src :url("/FuturaStdMedium.svg") format('svg');
  src: url('/FuturaStdMedium.otf') format('opentype'); 
}

@font-face {
  font-family: "futurastd";
  src: url('/FuturaStdLight.eot');
  src: url('//FuturaStdLight.svg#bingo') format('svg');
  src: url('/FuturaStdLight.otf') format('opentype'); 
}

body {
  margin: 0%;
  .app{
    width : 100%;
    height : 100%;
    position: absolute;
    pointer-events : none;
    z-index: 1;
    font-family : 'futurastd';
    .header{
      top : 0%;
      width: 100%;
      height: 70px;
      position: absolute;
      pointer-events: initial;
      background-color: #FFFFFF;
      color: #f17f36;
      .result,.result.on{        
        right: 100px;
        position: absolute;  
        background-size: 100%;
      }
      .result{
        background-image: url("tagcloud_off.png");
        width: 45px;
        height: 45px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
      .result.on{
        background-image: url("tagcloud_on.png");
        width: 60px;
        height: 62px;
      }
      .menu{
        width: 23px;
        height: 19px;
        background-size: 100%;
        position: absolute;
        left: 8px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        margin-right: 50px;
        background-image: url("menu.png");
      }
      .next-sequence{
        width: 23px;
        height: 23px;
        background-size: 100%;
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url("next.png");
      }
      .line , .line-background {
        position: absolute;
        height: 3px;
        bottom: 0;
      }
      .line{
        background-color: #f17f36;
        z-index : 1;
        width : 0%;   
      }
      .line-background{
        background-color: #f8f8fa;
        width : 100%;
      }
      .timer {
        top: 0;
        bottom: 0;
        display: table;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        text-align: center;
        font-family : 'futuraMedium';
        width: 240px;
        font-size: 20.5px;
        -webkit-font-smoothing : antialiased;
        font-smoothing : antialiased;
        -moz-font-smoothing : antialiased;
      } 
    }
    .activity,.result-display{
      width: 100%;
      height: calc(100% - 73px);
      position: absolute;
      top : 73px;
      .question{
        pointer-events: initial;
        background-color: #f8f8fa;
        width: 100%;
        height: 100px;
        position: absolute;
        z-index: 2;
        .text{
          top: 0;        
          bottom: 0;
          display: table;        
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;        
          font-family : 'futurastd';        
          width: 70%;
          text-align: center;
          font-size: 20.5px;
          -webkit-font-smoothing : antialiased;
          font-smoothing : antialiased;
          -moz-font-smoothing : antialiased;        
        }
        .previous{
          background-image: url("previous.png");
          background-size: 100%;
          width: 27px;
          height: 27px;
          position: absolute;
          margin : auto 0;
          left : 45px;
          top : 0;
          bottom: 0;
        }
        .next{
          background-image: url("next.png");
          background-size: 100%;
          width: 27px;
          height: 27px;
          position: absolute;
          margin : auto 0;
          right : 45px;
          top : 0;
          bottom: 0;
        }
        .unavailable{
          opacity : 0.5;        
        }
      }
    }
    .brainstorming{
      pointer-events : initial;
      .title-form{
        width: 610px;
        height: 30px;
        position: absolute;
        left : 35px;
        top :135px;
        .left-bar{
          width : 2px;
          height: 25px;
          background-color: #9d9d9d;
          position: absolute;
        }
        input.add-title{
          height: 30px;
          font-family: 'futurastd';
          font-size: 22px;
          width: 530px;
          outline: none;
          border: 0;
          border-bottom : 2px solid #d0d0d0;
          position: absolute;
          left : 5px;
          color : #979797;
          padding-left: 1px;
        }
        input.add-title::-webkit-input-placeholder { /* WebKit browsers */
            color:    #d0d0d0;
        }
        input.add-title:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #d0d0d0;
           opacity:  1;
        }
        input.add-title::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #d0d0d0;
           opacity:  1;
        }
        input.add-title:-ms-input-placeholder { /* Internet Explorer 10+ */
           color:    #d0d0d0;
        }
        .validate{
          width: 100px;
          height: 72px;
          position: absolute;
          left: 538px;
          background-image: url("tick.png");
          background-size: 36px 30px;
          background-position: center;
          background-repeat: no-repeat;
          top : 0;
          bottom: 0;
          margin: auto 0;
        }
        .validate.invalid{
          opacity: 0.3;
        }
      }
      .selctor-buttons{
        position: absolute;
        right: 38px;
        width: 128px;
        height: 36px;
        top : 140px;
        .me,.all{
          width : 64px;
          height: 36px;
          float: left;
          color : #b2b2b2;
          .arrow{
            height: 18px;
            width : 64px;
            background-image : url('arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            display: none;
          }
          .text{
            height: 18px;
            width: 64px;
            text-align: center;
            font-family: 'futuraMedium'
          }
        }
        .selected{
          color: #f17f36;
          .arrow{
            display: block;
          }
        }
      }
      .entries{
        position: absolute;
        top : 170px;
        width: 100%;
        height : calc(100% - 170px);
        padding: 40px;
        box-sizing : border-box;
        .post-it{
          box-sizing : border-box;
          padding : 3px;
          background-color: #f17f36;
          float: left;
          max-width: 250px;
          max-height: 300px;
          margin-right: 10px;
          overflow: hidden;
          white-space: pre-wrap;      /* CSS3 */   
          white-space: -moz-pre-wrap; /* Firefox */    
          white-space: -pre-wrap;     /* Opera <7 */   
          white-space: -o-pre-wrap;   /* Opera 7 */    
          word-wrap: break-word;      /* IE */ /* http://stackoverflow.com/questions/1638223/is-there-a-way-to-word-wrap-long-words-in-a-div*/
        }
      }
    }
  }
}