@font-face{
  font-family : 'futuraMedium';
  src : url('/FuturaStdMedium.ttf');
  src : url("/FuturaStdMedium.eot") format('embedded-opentype');
  src :url("/FuturaStdMedium.svg") format('svg');
  src: url('/FuturaStdMedium.otf') format('opentype'); 
}

@font-face{
  font-family: "futurastd";
  src: url('/FuturaStdLight.ttf');
  src: url('/FuturaStdLight.eot') format('embedded-opentype');
  src: url('/FuturaStdLight.svg#bingo') format('svg');
  src: url('/FuturaStdLight.otf') format('opentype'); 
}

font-face{
  font-family: "futurastdbold";
  src : url('/FuturaBold.ttf');
  src: url('/FuturaStdBold.eot') format('embedded-opentype');
  src: url('/FuturaStdBold.svg#bingo') format('svg');
  src: url('/FuturaStdBold.otf') format('opentype'); 
}

body {
.surlayer{
  background-color: #000000;
  opacity: 0.2;
  width : 100%;
  height: 100%;
  position: absolute;
}
.pop-in{
  font-family: futurastd;
  opacity: 1;
  z-index: 2;
  background-color : #FFFFFF;
  width : 607px;
  height: 350px;
  position: absolute;
  margin: auto auto;
  left : 0;
  right: 0;
  top : 0;
  bottom : 0;
  border-radius: 15px 15px;
  .content{
    width : 100%;
    height: 100%;
    .picto-wrap{
      top: 20px;
      position : relative;
      height: 163px;
      margin-bottom: 36px;
      width: 100%;
      .picto{
        position : absolute;
        width : 163px;
        height: 163px;
        margin: 0 auto;
        background-image : url("pause.png");
        background-size : 100%;
        left : 0;
        right : 0;
      }
    }
    .text{
      text-align: center;
      float: left;
      height: 80px;
      width: 100%;
      padding-left : 125px;
      padding-right : 125px;
      box-sizing: border-box;
      color : #a3a3a3;
      font-size: 18px;
      line-height: 18px;
    }
    .footer{
      height: 60px;
      border-top : 1px solid #dcdcdc;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #a3a3a3;
      .left{
        width : 50%;
        text-align: left;
        padding-left : 20px;
        left : 0;
        line-height: 60px;
        position : absolute;
        box-sizing : border-box;
        font-size : 18px;
      }
      .right{
        width : 50%;
        text-align: right;
        padding-right : 20px;
        right : 0;
        line-height: 60px;
        position: absolute;
        box-sizing : border-box;
        font-size : 18px;
        color : #f17f36;
      }
      .center{
        width: 100%;
      }
    }
  }
}
.box:before{
  content: "";
  display: block;
  padding-top: 58%;  /* initial ratio of 1:1*/
}  
}
